<div class="container my-5">
    <h2 class="text-center text-primary mb-4">Frambuesa</h2>
    <div class="card shadow-lg">
        <img src="https://www.pompadour.es/modules/ttt_plantas/views/img/frambuesa.png" class="card-img-top" alt="Frambuesa">
        <div class="card-body text-center">
            <p class="card-text">
                La frambuesa es una pequeña fruta roja, muy apreciada por su sabor agridulce. 
                Es una excelente fuente de vitamina C y antioxidantes, 
                ideal para incluir en batidos, postres, y como acompañante en ensaladas.
            </p>
        </div>
    </div>
</div>