<div class="container my-5">
    <h2 class="text-center text-primary mb-4">Mora</h2>
    <div class="card shadow-lg">
        <img src="https://png.pngtree.com/png-clipart/20230414/ourmid/pngtree-a-bunch-of-blackberries-png-image_6704741.png" class="card-img-top" alt="Mora">
        <div class="card-body text-center">
            <p class="card-text">
                La mora es una fruta que se caracteriza por su sabor dulce y ligeramente ácido, 
                muy utilizada en la preparación de jugos, mermeladas y postres. 
                Es rica en antioxidantes, vitamina C y fibra.
            </p>
        </div>
    </div>
</div>


