
h2 {
    font-family: Arial, sans-serif;
    color: rgb(152, 12, 101); 
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

.menu {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.menu a {
    text-decoration: none; 
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #555; 
    margin: 0 15px; 
    padding: 10px 20px;
    border: 2px solid #981561; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
}

.menu a:hover{
    background-color: #b46292;
}
